html
{

}
body{
  /*background-color: #0DCBA8;*/
  /*background-image: url("../images/beach.jpg") no-repeat center center fixed;*/
  color: black;
  background: url(../images/background.jpg) no-repeat center center fixed;
  /*-webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;*/
  background-size: cover;
}

.row{
  font-size: 12px;
  font-family:  fantasy;
  color: white;
}

.important {
  color: red;
}

.unimportant {
  color: white;
}

.cat-climate {
  background-color: teal;
  text-decoration-color: white;
}
